h1{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: ;
}
.bayangan {
    
}
body{
    background-image: url('supermarket.jpg');
}
table {
    left: 50%;
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 30%;
    border: 1px solid #cccccc;
    margin-left: 35%; 
}

table tr th{
    background: #cccccc;
    color: #ffffff;
    font-weight: normal;
}

table, th, td {
    padding: 8px 20px;
    text-align: center;
    background-color: white;
}
